<div id="content" ng-controller='MainController as ctrl'>
  <div id="heading" class="row">
    <h1 class="title">ngQueens</h1>
    <div class="moves">
      <h4>Moves</h4>
      <h4>{{ctrl.moves}}</h4>
    </div>

  </div>

  <div id="instructions" class="row">
    <div class="txt">
      Place all the queens on the board so that <br>
        no two queens threaten each other !
    </div>
      <button class="restart-button" ng-click="ctrl.newGame()">New game</button>

      <div class="btn-group">
        <button type="button" class="dropdown-toggle grid-button" data-toggle="dropdown">
          Grid
        </button>
        <ul class="dropdown-menu">
          <li><a ng-repeat='item in ctrl.gridSizes' ng-click="ctrl.changeGridSize(item.value)">{{ item.name }}</a></li>
        </ul>
      </div>
  </div>

  <div id="board-container">
    <board></board>
  </div>

  <p class="how-to">
    <strong class="important">How to play:</strong> Click on each tile to place a <strong>queen</strong>
    on it. The game ends when all queens are placed to the board and no two queens share the same row, column, or diagonal.
  </p>

  <hr></hr>

  <p>
    <strong>Note:</strong> This game was built using AngularJS and Prolog Pengines.
  </p>

  <hr></hr>

  <p>
    Created by <a href="github.com/tasos14">tasos14</a>, inspired by <a href="http://ng2048.github.io/">ng-2048</a>.
  </p>

</div>
